* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

/* Estilos padrão para evitar repetições */
:root {
	--main-family: "Oswald", sans-serif;
	--nav-li: white;
	--nav-bg: white;
	--text-color: black;
}

/* Estilos do cabeçalho */
header {
	padding-top: 1%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

header img {
	margin: auto;
}

header img::selection {
	background-color: var(--nav-bg);
}

header p {
	margin-top: 1%;
	font-size: 12pt;
	line-height: 1;
	font-family: "Montserrat", cursive;
	text-align: center;
}

header p::selection {
	background-color: var(--nav-bg);
	color: var(--text-color);
}

header nav {
	background-color: var(--nav-bg);
	margin-top: 1%;
	min-width: fit-content;
}

header nav .nav_list {
	background-color: var(--nav-li);
	width: 50%;
	display: flex;
	list-style: none;
}

header nav li {
	color: var(--text-color);
	margin: 2%;
	position: relative;
}

header nav li::selection {
	background-color: var(--nav-bg);
	color: var(--text-color);
}

header nav li::after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 1px;
	background-color: black;
	bottom: -5px;
	transition: width 0.3s ease-in-out;
}

header nav li:hover::after {
	width: 100%;
}

/* Estilos do conteúdo principal */
main {
	margin-top: 5%;
	text-align: center;
}

main h2 {
	font-size: 30pt;
	font-family: var(--main-family);
}

main h2::selection {
	background-color: var(--nav-bg);
	color: var(--text-color);
}

main h1 {
	font-size: 90pt;
	font-family: var(--main-family);
}

main h1:after {
	content: "_";
	animation: animation_underline 2s infinite;
}

main h1::selection {
	background-color: var(--nav-bg);
	color: var(--text-color);
}

/* Estilos do rodapé */
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer a {
	margin: 2%;
}

/* Animação dos logotipos */
@keyframes animation_logo {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-25%);
	}
}

/* Animação tag h1 */
@keyframes animation_underline {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

/* Responsividade */
@media screen and (max-width: 600px) {
	header p {
		font-size: 10pt;
	}

	header nav {
		margin-top: 1%;
		min-width: fit-content;
	}

	header nav .nav_list {
		width: 100%;
		display: flex;
		flex-direction: column;
		list-style: none;
		align-items: center;
	}

	header nav li {
		font-size: 10pt;
		color: black;
		margin: 2%;
		text-align: center;
	}

	header nav li::after {
		bottom: -2px;
	}

	main {
		margin-top: 20%;
	}

	main h2 {
		font-size: 18pt;
	}

	main h1 {
		font-size: 40pt;
	}

	footer {
		flex-direction: column;
		text-align: center;
	}

	footer a {
		margin: 2%;
	}
}
