/* Estilos do rodapé */
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer a {
	margin: 2%;
}

footer a #three {
	animation: animation_logo 2.5s linear infinite;
}

footer a #two {
	animation: animation_logo 2s linear infinite;
}

footer a #one {
	animation: animation_logo 1.5s linear infinite;
}